<div class="newfeed-container">
    <div class="form-container" [formGroup]="form">
        <div class="field-container">
            <label for="tit">Article Title<span *ngIf="title?.errors != null">*</span></label>
            <input  type="text" #tit placeholder="Article Title" formControlName="title">
        </div>
        <div class="field-container">
            <label for="cont">Content<span *ngIf="content?.errors != null">*</span></label>
            <textarea  name="content" #cont cols="30" rows="10" placeholder="Enter content..." formControlName="content"></textarea>
        </div>
        <div class="field-container">
            <label for="tag">Tags<span *ngIf="tags?.errors != null">*</span></label>
            <input type="text" #tag placeholder="Enter Tags" formControlName="tags" (keyup.enter)="addChip()">
        </div>
        <div class="field-container">
            <mat-chip-grid class="tag-chips">
                <mat-chip-row class="tag-chip" *ngFor="let chip of chips">{{ chip }}</mat-chip-row>
            </mat-chip-grid>
        </div>
        <div class="btn-container">
            <button class="btn-cancel" type="button" routerLink="/home">Cancel</button>
            <button class="btn-post" type="button" [disabled]="!form.valid" (click)="display()">POST</button>
        </div>
    </div>
</div>