<div class="container">
    <div class = "left-container">
        <div class="feeds-header" [ngClass]="{'border-bottom': true}">
            <span class="head">Your feed</span>
            <span class="head">Global feed</span>
        </div>

        <div *ngFor="let post of posts" class="feeds">
            <div class="feed-head">
                <div class="user-img">
                <img src="/assets/img/smile.jpg" alt="profile-image">
                </div>
                <div class="user-detail">
                    <h5>{{user.username}}</h5>
                    <h6>{{user.created_at}}</h6>
                </div>

            </div>
            <div class="feed-body">
                <h3>{{post.title}}</h3>
                <p>{{post.body}}</p>
            </div>
            <div class="feed-foot">
                <div class="feed-foot-left">
                    <a href="#">Read more</a>
                </div>
                <div class="feed-foot-right" >
                    <div *ngFor="let i of post.tag">
                        <span>{{i}}</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class = "right-container">
    <h1>Popular tags</h1>
    <div *ngFor="let i of tags">
        <a href="#">{{i}}</a>
    </div>
    </div>
</div>
