<div class="background">
    <div class="container">
        <div class="login-container">
            <h1>Create new account</h1>
            <p>Already Have Account <a href="#">Log in</a></p>
    
            <form [formGroup]="userForm">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" type="text" class="form-control"/>
                        <mat-icon matSuffix><span class="material-symbols-outlined">
                            contacts
                            </span></mat-icon>
                    </mat-form-field>
                </div>
                
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="text" class="form-control"/>
                        <mat-icon matSuffix><span class="material-symbols-outlined">
                            mail
                            </span></mat-icon>
                    </mat-form-field>            
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" class="form-control"/>
                        <mat-icon matSuffix><span class="material-symbols-outlined">
                            visibility
                            </span>
                        </mat-icon>
                    </mat-form-field>  
                </div>
                <button mat-raised-button color="success" (click)="signIn()" type="submit">Signin</button>
                <button mat-raised-button color="success" (click)="checkUser()" type="submit">Login</button>
            </form>
        </div>
        
    </div>
    
    
</div>
