<div class="background">
    <div class="container">
        <div class="login-container">
            <h1>Create new account</h1>
            <h2>Don't have account. <a href="\signin">Create One!</a></h2>
            <div class="alert" #closebtn [style.display]="show_error_msg ? 'block' : 'none'">
                <strong>{{msgTitle}}</strong> {{msg}}
                <button (click)="close_btn()">X</button>
            </div>
        </div>

        <app-form [formModel]="formFields" #submit (dataEvent)="login($event)"></app-form>
        
    </div>
    
    
    
</div>