<div class="header">
    <ul class="nav-bar">
        <div #home class="nav-tab">
            <button class="btn-nav" type="button" routerLink="/home">Home</button>
        </div>
        <div #new class="nav-tab">
            <button class="btn-nav" type="button" routerLink="/newfeed">New Feed</button>
        </div>
        <div #setting class="nav-tab">
            <button class="btn-nav" type="button" routerLink="/settings">Settings</button>
        </div>
        <div class="nav-tab">
            <button class="btn-nav" type="button" routerLink="/signin">Log In / Sign Up</button>
        </div>
    </ul>
</div>
